.location-area {
    display: none;
}

.location-area label {
    font-weight: normal;
    vertical-align: middle;
    margin-top: 0px;
}

.location-area input {
    margin-left: 5px;
    width: 150px;
    vertical-align: middle;
    margin-right: 10px;
}

.jc-field {
    margin-bottom: 20px;
}

.update-paper-status {
    margin-left: 20px;
}

.dl-horizontal.text-overflow.acc-num {
    display: none;
}

.la-title {

}